* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    
}

/* ESTILOS GERAIS */

:root {
    --font: #fff;
    --background: #000;
    --title: #52ff00;
    --elements: #017801;
    --subtitle: #7ed957;
}


body {
    color: white;
    height: 100vh;
   
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul li {
    list-style-type: none;
}

h1.titulo {
    font-size: 44px;
    color: var(--font);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif; 
}
p {
    margin: 40px 0;
    font-size: 21px;
    font-family: 'Poppins', sans-serif; 
}

/* Estilização - Menu Desktop geral */

header {
    padding: 40px 4%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.57) 0%, rgba(0,0,0,0) 100%);
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


header .interface li {
    margin-left: 5em;
}

header a {
    font-size: 18px;
    color: var(--font);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    border-bottom: 1px solid transparent;
}

header a:hover{
    color: #9b9b9b;
    transform: scale(1.02);
    
    border-bottom: 1px solid var(--title);
    border-radius: 5px;
    transition: ease-in-out 100ms ;
}
header div.logo img {
    width: 65px;
    border-radius: 50%;
}

/*  Estilização - Topo do site */

section.topoSite {
    padding: 70px 4%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.topoSite .flex {
    align-items: center;
    justify-content: center;
    gap: 80px;
}

section.topoSite .txtTopoSite {
    text-align: justify;
    color: rgb(255, 255, 255);

}


.topoSite h1.titulo span {
    color: var(--title);
    font-size: 55px;
}
.topoSite .imgTopoSite img {
    width: 100%;
    border-radius: 50%;
}

.menuDesktop ul li{
    display: inline;
}

/* Estilização - Sobre o evento */

section.sobre {
    padding: 100px 4%;
}

section.sobre .flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
