* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    
}

/* ESTILOS GERAIS */

:root {
    --font: #fff;
    --background: #0d0d0d;
    --span: #52ff00;
    --elements: #017801;
    --subtitle: #7ed957;
}


body {
    color: white;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul li {
    list-style-type: none;
}

h1.titulo {
    font-size: 44px;
    color: var(--font);
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif; 
}

h1.titulo span {
    color: var(--span);
    font-size: 60px;
}

p {
    margin: 40px 0;
    font-size: 21px;
    font-family: 'Poppins', sans-serif; 
}

div.borderRow {
    width: 100%;
    height: 5px;   
    position: relative;
    z-index: 10;
    background: rgb(2,0,36);
    background: linear-gradient(229deg, rgb(0, 0, 0) 48%, rgb(12, 107, 0) 51%);
    background-size: 200%;

    animation-name: borderRow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes borderRow {
    0% {
        background-position-x: -100%;
    }
    100% {
        background-position-x: 100%;
    }
}

/* Estilização - Menu Desktop geral */

header {
    position: relative;
    z-index: 1;
    width: 100%;

    padding: 40px 4%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.57) 0%, rgba(0,0,0,0) 100%);
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


header .interface li {
    margin-left: 5em;
}

header a {
    font-size: 18px;
    color: var(--font);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    border-bottom: 1px solid transparent;
}

header a:hover{
    color: #9b9b9b;
    transform: scale(1.02);
    transition: ease-in-out 100ms ;
}
header div.logo img {
    width: 65px;
    border-radius: 50%;
}

/*  Estilização - Topo do site */



/*  Background do topo  */
div.background{
    background-size:cover;
}

section.topoSite {
    padding: 80px 4%;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.topoSite .flex {
    align-items: center;
    justify-content: center;
    gap: 80px;
}

section.topoSite .txtTopoSite {
    text-align: justify;
    color: rgb(255, 255, 255);

}

.topoSite .imgTopoSite img {
    width: 60vh;
    justify-content: center;
    align-items: center;
}

.menuDesktop ul li{
    display: inline;
}



/* Estilização - Registros */

section.registros {
    padding: 80px 4%;
    background-color: black;
    align-items: center;
    justify-content: center;
}



section.registros .wrapper {
    width: 100%;
    position: relative;
}

section.registros .wrapper i{
    height: 50px;
    width: 50px;
    color: black;
    background: var(--span);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}

section.registros .wrapper .carrossel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 20px;
    overflow: hidden;
}

.carrossel :where(.card, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel.dragging .card{
    cursor: grab;
    user-select: none;
}

section.registros .carrossel .card {
    list-style: none;
    background: #2e2e2e;
    border-radius: 8px;
    height: 342px;
    cursor: pointer;
    align-items: center;
    justify-content: center;    
}
section.registros .card .img img{
    visibility: hidden;
}

@media screen and (max-width: 900px){
    .wrapper .carrossel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px){
    .wrapper .carrossel{
        grid-auto-columns: 100%;
    }
}

/* Fim - estilização registros */




@media only screen and (max-width: 960px){

    /* Estilizações gerais */
    .flex{
        flex-direction: column;
    }

    .menuDesktop {
        display: none;
    }

    /* Estilização do topo do site */
    h1.titulo {
        font-size: 30px;
    }
}